@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-cream text-brand-dark font-body antialiased selection:bg-brand-orange selection:text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-medium tracking-wide;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #FFFDF9;
}
::-webkit-scrollbar-thumb {
  background: #F97316;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #EA580C;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
